<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuario</title>
</head>
<body>
    <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">

        <label for="nome">Autor:</label>
        <input type="text" id="nome" th:field="*{nome}">

        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"></p>

        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>
