<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Biblioteca</title>
  <link rel="stylesheet" th:href="@{/css/livros.css}">
</head>
<body>
<h1>Bem-vindo à Biblioteca!</h1>
  <form th:action="@{/livros}" method="get">
    <label>
      <input type="checkbox" name="disponiveis" value="true" th:checked="${param.disponiveis}">
      Mostrar apenas disponíveis
    </label>
    <button type="submit">Filtrar</button>
  </form>

  <table>
    <tr>
      <th>ID</th>
      <th>TITULO</th>
      <th>AUTOR</th>
      <th>ANO</th>
      <th>STATUS</th>
      <th>GERENCIAR</th>
    </tr>
    <tr th:each="livro : ${listaLivros}">
      <td th:text="${livro.id}"></td>
      <td th:text="${livro.titulo}"></td>
      <td th:text="${livro.autor}"></td>
      <td th:text="${livro.ano}"></td>
      <td th:text="${livro.status} ? 'Emprestado' : 'Disponível'"></td>
      
      <td>
        <a th:if="${!livro.status}" th:href="@{/livros/editar/{id}(id=${livro.id})}">[EDITAR]</a>
        <a th:if="${!livro.status}" th:href="@{/livros/deletar/{id}(id=${livro.id})}">[DELETAR]</a>
        <a th:if="${!livro.status}" th:href="@{/livros/emprestar/{id}(id=${livro.id})}">[EMPRESTAR]</a>
        <a th:if="${livro.status}" th:href="@{/livros/devolver/{id}(id=${livro.id})}">[DEVOLVER]</a>
      </td>
    </tr>
  </table>
  <a th:href="@{/livros/cadastrar}" class="addLivro">Adicionar Novo Livro</a>

  <table>
    <tr>
      <th>LIVRO</th>
      <th>USUARIO</th>
      <th>DATA DE RETIRADA</th>
      <th>DATA DE DEVOLUÇÃO</th>
    </tr>
    <tr th:each="emprestimo : ${listaEmprestimos}">
      <td th:text="${emprestimo.livro.titulo}"></td>
      <td th:text="${emprestimo.usuario.nome}"></td>
      <td th:text="${emprestimo.dataRetirada}"></td>
      <td th:text="${emprestimo.dataEntrega}"></td>
    </tr>
  </table>

  <a th:href="@{/}">VOLTAR</a>
</body>
</html>

