<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Biblioteca</title>
</head>
<body>
<h1>Bem-vindo à Biblioteca!</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>TITULO</th>
      <th>AUTOR</th>
      <th>ANO</th>
      <th>STATUS</th>
    </tr>
    <tr th:each="livro : ${listaLivros}">
      <td th:text="${livro.id}"></td>
      <td th:text="${livro.titulo}"></td>
      <td th:text="${livro.autor}"></td>
      <td th:text="${livro.ano}"></td>
      <td th:text="${livro.status} ? 'Indisponível' : 'Disponível'"></td>
      <td>
        <a th:href="@{/livros/editar/{id}(id=${livro.id})}">[EDITAR]</a>
        <a th:href="@{/livros/deletar/{id}(id=${livro.id})}">[DELETAR]</a>
        <a th:if="${!livro.status}" th:href="@{/livros/emprestar/{id}(id=${livro.id})}">[EMPRESTAR]</a>
        <a th:if="${livro.status}" th:href="@{/livros/devolver/{id}(id=${livro.id})}">[DEVOLVER]</a>

      </td>
    </tr>
  </table>
  <a th:href="@{/livros/cadastrar}">Adicionar Novo Livro</a>

</body>
</html>

